body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: #f0f2f5;
  color: #333;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #007bff;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  align-items: center;
}

ul {
  padding: 20px;
  color: #666;
  margin: auto;
}

li {
  margin: 0 10px;
}

.content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  align-items: center;
}

.input {
  display: flex;
  width: 87%;
  margin-left: 6%;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 230%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0 15px;
  margin-right: 10px;
  font-size: 16px;
  transition: border 0.3s ease-in-out;
}

input[type="text"]:focus {
  border: 1px solid #007bff;
}

button {
  margin-left: -10%;
  width: 20%;
  height: 40px;
  border-radius: 20px;
  letter-spacing: 2px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.output {
  margin-top: 20px;
  text-align: center;
}

textarea {
  width: 85%;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  resize: none;
  transition: border 0.3s ease-in-out;
}

textarea:focus {
  border: 1px solid #007bff;
}

#status {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 20px;
}
